body {
	 	background-color: #ab2524;
		overflow: visible;
}
 video {
	 display: block;
	 margin: auto;
}
 img.border {
	 position: absolute;
	 left: 10%;
	 top: -18%;
}
span.wrapper {
	 padding: 0%;
	 position:relative;
	 display:block;
}
.button{
	position: fixed;
	top: 3vh;
	left: 3vh;
	width: 5vh;
	height: 5vh;
}
.links{
	padding: 10%;
	text-align: center;
}
.downloadlink{
	display: block;
	 margin: auto;
	text-align: center;
	color: white;
}

.link{
	display: none;
	font-size: 40px;
	text-decoration: none;
	color: white;
	font-size: 6vh;
	padding: 1.5vh;
}
.title{
	padding-left: 20%;
}
#video{
	margin-bottom: 2%;
}
#snow{
 	overflow: hidden;
	display: none;
}
 .snow {
	 border-radius: 50%;
	 opacity: 0.8;
	 position: absolute;
	 top: -200vh;
	 animation-name: fall;
	 animation-timing-function: linear;
	 animation-iteration-count: infinite;
}
 .layer1 {
	 width: 1.5rem;
	 height: 1.5rem;
	 filter: blur(1.5px);
	 box-shadow: 66.9vw 10.5vh 0 -0.04rem#fff,34.5vw 46.6vh 0 -0.5rem#fff,3.9vw 30.7vh 0 -0.32rem#fff,69.9vw 88.6vh 0 -0.41rem#fff,5.9vw 41.2vh 0 -0.2rem#fff,91.1vw 74vh 0 -0.15rem#fff,33.6vw 86.1vh 0 -0.41rem#fff,78.1vw 91.8vh 0 -0.44rem#fff,3vw 98.7vh 0 -0.36rem#fff,96.4vw 66.7vh 0 -0.48rem#fff,67.2vw 92.2vh 0 -0.4rem#fff,98.8vw 53.4vh 0 -0.33rem#fff,18.4vw 39.2vh 0 -0.31rem#fff,59.2vw 34vh 0 -0.28rem#fff,39.7vw 27.8vh 0 -0.44rem#fff,92.7vw 72.7vh 0 -0.4rem#fff,61vw 59.3vh 0 -0.43rem#fff,61.7vw 53.6vh 0 -0.24rem#fff,80.6vw 73.1vh 0 -0.49rem#fff,17.3vw 14.8vh 0 -0.5rem#fff,91vw 12.8vh 0 -0.42rem#fff,84.8vw 42.2vh 0 -0.2rem#fff,89.3vw 41.6vh 0 -0.01rem#fff,91.7vw 32vh 0 -0.23rem#fff,93.6vw 64.4vh 0 -0.05rem#fff,41.4vw 4.9vh 0 -0.41rem#fff,58.9vw 40.1vh 0 -0.01rem#fff,31.8vw 74.4vh 0 -0.46rem#fff,19.3vw 40.6vh 0 -0.08rem#fff,87.2vw 1.4vh 0 -0.36rem#fff,49.6vw 7.9vh 0 -0.26rem#fff,63.6vw 59.2vh 0 -0.5rem#fff,57.7vw 90.1vh 0 -0.15rem#fff,72.2vw 98.4vh 0 -0.05rem#fff,52.8vw 64.9vh 0 -0.01rem#fff,94.7vw 41vh 0 -0.41rem#fff,0.5vw 42.4vh 0 -0.4rem#fff,71.8vw 51.3vh 0 -0.33rem#fff,54.3vw 53.8vh 0 -0.06rem#fff,84vw 37vh 0 -0.09rem#fff,77.8vw 72.7vh 0 -0.5rem#fff,7.9vw 9.3vh 0 -0.06rem#fff,12.8vw 49.6vh 0 -0.38rem#fff,75.9vw 16.9vh 0 -0.02rem#fff,60.1vw 64.3vh 0 -0.18rem#fff,72.6vw 67.5vh 0 -0.35rem#fff,60.9vw 10.8vh 0 -0.02rem#fff,26.4vw 47vh 0 -0.13rem#fff,31.6vw 22.9vh 0 -0.23rem#fff,9.1vw 9.2vh 0 -0.23rem#fff,82vw 95.1vh 0 -0.4rem#fff,61.7vw 23vh 0 -0.07rem#fff,1vw 35.4vh 0 -0.39rem#fff,83.2vw 49.3vh 0 -0.17rem#fff,2.4vw 12vh 0 -0.07rem#fff,31.1vw 35.7vh 0 -0.23rem#fff,36.4vw 67.1vh 0 -0.34rem#fff,17.4vw 68.8vh 0 -0.33rem#fff,56vw 74.7vh 0 -0.46rem#fff,45vw 95.3vh 0 -0.4rem#fff,53vw 74.8vh 0 -0.08rem#fff,5.8vw 55.4vh 0 -0.5rem#fff,69.1vw 6.8vh 0 -0.02rem#fff,85.9vw 65.9vh 0 -0.12rem#fff,45.9vw 43.1vh 0 -0.02rem#fff,16.6vw 71.5vh 0 -0.5rem#fff,88.7vw 65vh 0 -0.31rem#fff,30.8vw 4.5vh 0 -0.25rem#fff,87.3vw 35.2vh 0 -0.32rem#fff,96.6vw 81.4vh 0 -0.5rem#fff,45.3vw 18.2vh 0 -0.34rem#fff,10.7vw 34.9vh 0 -0.41rem#fff,14.3vw 67.3vh 0 -0.5rem#fff,48.7vw 68.6vh 0 -0.02rem#fff,9.8vw 72.6vh 0 -0.09rem#fff,43.2vw 3.1vh 0 -0.07rem#fff,28.4vw 16.1vh 0 -0.16rem#fff,24.2vw 28.9vh 0 -0.17rem#fff,77.1vw 42.7vh 0 -0.01rem#fff,96.4vw 93.6vh 0 -0.02rem#fff,8.6vw 78vh 0 -0.47rem#fff,50vw 40.6vh 0 -0.26rem#fff,33.8vw 18.2vh 0 -0.13rem#fff,66.5vw 77.6vh 0 -0.49rem#fff,26.4vw 34.3vh 0 -0.18rem#fff,10vw 53.8vh 0 -0.3rem#fff,53.2vw 54.9vh 0 -0.23rem#fff,98.9vw 19vh 0 -0.31rem#fff,97.6vw 22.6vh 0 -0.46rem#fff,3.5vw 36.3vh 0 -0.34rem#fff,84.4vw 93.7vh 0 -0.34rem#fff,95.6vw 53.8vh 0 -0.04rem#fff,78.3vw 84.7vh 0 -0.49rem#fff,79.5vw 72.7vh 0 -0.18rem#fff,50.8vw 14.5vh 0 -0.01rem#fff,30.1vw 96.6vh 0 -0.35rem#fff,9.8vw 41vh 0 -0.33rem#fff,72.7vw 51.9vh 0 -0.21rem#fff,22.3vw 79.4vh 0 -0.13rem#fff,18vw 28vh 0 -0.05rem#fff,68.2vw 20.3vh 0 -0.47rem#fff,49.3vw 23.2vh 0 -0.38rem#fff,94.8vw 81.3vh 0 -0.47rem#fff,96.1vw 20vh 0 -0.42rem#fff,57.5vw 76.2vh 0 -0.05rem#fff,85.8vw 99.7vh 0 -0.07rem#fff,50.5vw 70.6vh 0 -0.49rem#fff,10.7vw 49.3vh 0 -0.39rem#fff,88.9vw 87.7vh 0 -0.29rem#fff,13.7vw 65.4vh 0 -0.26rem#fff,31.9vw 52vh 0 -0.2rem#fff,42.3vw 0.1vh 0 -0.07rem#fff,10.7vw 41.7vh 0 -0.29rem#fff,1.6vw 16.1vh 0 -0.36rem#fff,86.1vw 54vh 0 -0.47rem#fff,37.8vw 49.2vh 0 -0.07rem#fff,81.4vw 45vh 0 -0.48rem#fff,95.9vw 35.2vh 0 -0.08rem#fff,16.4vw 34vh 0 -0.45rem#fff,4.1vw 34.2vh 0 -0.42rem#fff,16.5vw 69.6vh 0 -0.01rem#fff,34.7vw 74.9vh 0 -0.23rem#fff,22.1vw 15.7vh 0 -0.37rem#fff,30.1vw 85.7vh 0 -0.21rem#fff,29.4vw 89.8vh 0 -0.3rem#fff,30.8vw 99.9vh 0 -0.3rem#fff,51.2vw 13.9vh 0 -0.41rem#fff,51.3vw 29.6vh 0 -0.01rem#fff,79.8vw 69.8vh 0 -0.26rem#fff,16.9vw 86.3vh 0 -0.03rem#fff,44.3vw 51.9vh 0 -0.34rem#fff,83.6vw 20.6vh 0 -0.47rem#fff,78.5vw 8vh 0 -0.44rem#fff,17.2vw 69.5vh 0 -0.39rem#fff,44.1vw 1.7vh 0 -0.38rem#fff,35.9vw 73.4vh 0 -0.25rem#fff,29vw 62.3vh 0 -0.5rem#fff,63.2vw 44.7vh 0 -0.02rem#fff,41.5vw 47.9vh 0 -0.37rem#fff,83.7vw 77vh 0 -0.24rem#fff,30.9vw 28.1vh 0 -0.07rem#fff,57vw 21.6vh 0 -0.06rem#fff,60.3vw 46.3vh 0 -0.43rem#fff,69.7vw 98.9vh 0 -0.13rem#fff,47.9vw 71.6vh 0 -0.31rem#fff,81.7vw 56.6vh 0 -0.34rem#fff,63vw 88.3vh 0 -0.28rem#fff,38.1vw 4.7vh 0 -0.24rem#fff,37.7vw 82.3vh 0 -0.05rem#fff,66vw 67.4vh 0 -0.03rem#fff,9.9vw 36.2vh 0 -0.39rem#fff,12.5vw 60.3vh 0 -0.35rem#fff,73.3vw 4.8vh 0 -0.15rem#fff,7.1vw 52.9vh 0 -0.29rem#fff,58.6vw 39.8vh 0 -0.5rem#fff,38vw 24.3vh 0 -0.42rem#fff,68.6vw 14.3vh 0 -0.33rem#fff,94.3vw 84.1vh 0 -0.5rem#fff,24.7vw 5.6vh 0 -0.06rem#fff,18.8vw 44vh 0 -0.34rem#fff,10.9vw 99.3vh 0 -0.13rem#fff,94.7vw 24.2vh 0 -0.45rem#fff,21.1vw 83.3vh 0 -0.45rem#fff,65.4vw 21.2vh 0 -0.14rem#fff,81.2vw 53.9vh 0 -0.06rem#fff,70.2vw 71.5vh 0 -0.23rem#fff,90.9vw 82.1vh 0 -0.44rem#fff,0.6vw 25.7vh 0 -0.49rem#fff,2.7vw 82.9vh 0 -0.23rem#fff,48.3vw 51vh 0 -0.24rem#fff,63.2vw 69.4vh 0 -0.29rem#fff,36.6vw 41.3vh 0 -0.17rem#fff,36vw 95.4vh 0 -0.28rem#fff,88.7vw 91.6vh 0 -0.23rem#fff,27.2vw 83.1vh 0 -0.36rem#fff,41.6vw 42.1vh 0 -0.37rem#fff,74vw 10.9vh 0 -0.48rem#fff,39.8vw 9.4vh 0 -0.22rem#fff,83.4vw 45.2vh 0 -0.04rem#fff,91.5vw 23.4vh 0 -0.17rem#fff,43.6vw 65.7vh 0 -0.36rem#fff,1.9vw 66.4vh 0 -0.28rem#fff,96vw 80.3vh 0 -0.2rem#fff,82.1vw 65.4vh 0 -0.29rem#fff,17.1vw 84.3vh 0 -0.15rem#fff,97.6vw 78.5vh 0 -0.41rem#fff,81.1vw 8.6vh 0 -0.49rem#fff,71.4vw 19.6vh 0 -0.11rem#fff,96vw 45.8vh 0 -0.14rem#fff,85.4vw 35.4vh 0 -0.34rem#fff,76.6vw 85vh 0 -0.18rem#fff,51.5vw 54.5vh 0 -0.45rem#fff,15vw 14.9vh 0 -0.16rem#fff,63.3vw 4.2vh 0 -0.05rem#fff,41.9vw 61vh 0 -0.41rem#fff,1.5vw 69vh 0 -0.36rem#fff,25.7vw 70.4vh 0 -0.36rem#fff,31vw 16.3vh 0 -0.46rem#fff,45.4vw 69.3vh 0 -0.37rem#fff,39.3vw 30.3vh 0 -0.36rem#fff;
	 animation-duration: 12s;
}
 .layer1.a {
	 animation-delay: -4s;
}
.layer1.b {
	animation-delay: -8s;
}
 .layer2 {
	 width: 1.2rem;
	 height: 1.2rem;
	 filter: blur(3px);
	 box-shadow: 14vw 55.3vh 0 -0.5rem#fff,51.7vw 11vh 0 -0.41rem#fff,16.2vw 49.5vh 0 -0.22rem#fff,51.8vw 87.7vh 0 -0.16rem#fff,80.1vw 63.6vh 0 -0.04rem#fff,64.6vw 67.3vh 0 -0.44rem#fff,66.9vw 55.9vh 0 -0.18rem#fff,17vw 73.5vh 0 -0.39rem#fff,88.8vw 1.1vh 0 -0.06rem#fff,83.3vw 26.1vh 0 -0.32rem#fff,4.8vw 54.8vh 0 -0.22rem#fff,63.2vw 18.1vh 0 -0.16rem#fff,70vw 30.2vh 0 -0.4rem#fff,25.4vw 24.1vh 0 -0.23rem#fff,92.1vw 60vh 0 -0.33rem#fff,44.9vw 26vh 0 -0.17rem#fff,30vw 31.5vh 0 -0.45rem#fff,29.6vw 2.5vh 0 -0.47rem#fff,64.5vw 34.5vh 0 -0.21rem#fff,53.9vw 60.2vh 0 -0.2rem#fff,46vw 43vh 0 -0.25rem#fff,24.7vw 9.7vh 0 -0.48rem#fff,38.6vw 9.1vh 0 -0.27rem#fff,63.9vw 53.8vh 0 -0.18rem#fff,36.7vw 86vh 0 -0.42rem#fff,19.2vw 28.9vh 0 -0.5rem#fff,56.3vw 61.2vh 0 -0.43rem#fff,58.8vw 50.2vh 0 -0.04rem#fff,85.1vw 22.8vh 0 -0.38rem#fff,72.9vw 7.3vh 0 -0.49rem#fff,29.2vw 6.3vh 0 -0.03rem#fff,14.8vw 72.6vh 0 -0.06rem#fff,78.2vw 62.5vh 0 -0.48rem#fff,94.8vw 60.5vh 0 -0.06rem#fff,38.5vw 67vh 0 -0.08rem#fff,97.5vw 71.2vh 0 -0.02rem#fff,91.6vw 63.7vh 0 -0.35rem#fff,65.8vw 41.2vh 0 -0.19rem#fff,5.2vw 75.6vh 0 -0.37rem#fff,1.9vw 20.8vh 0 -0.06rem#fff,52.3vw 66.1vh 0 -0.44rem#fff,29.7vw 70.2vh 0 -0.05rem#fff,58.9vw 33.7vh 0 -0.14rem#fff,92.7vw 34.2vh 0 -0.17rem#fff,93.9vw 17.7vh 0 -0.38rem#fff,55.9vw 48.9vh 0 -0.11rem#fff,34vw 2.7vh 0 -0.28rem#fff,40.4vw 95.9vh 0 -0.03rem#fff,94.6vw 3.9vh 0 -0.45rem#fff,50.3vw 56.6vh 0 -0.5rem#fff,80.4vw 82.5vh 0 -0.09rem#fff,17.4vw 79.9vh 0 -0.08rem#fff,53.2vw 10.4vh 0 -0.13rem#fff,21.6vw 66.1vh 0 -0.08rem#fff,20.5vw 48vh 0 -0.24rem#fff,61.8vw 27.2vh 0 -0.3rem#fff,52.7vw 50.5vh 0 -0.23rem#fff,57.5vw 32.3vh 0 -0.48rem#fff,41.9vw 80.8vh 0 -0.36rem#fff,10.8vw 43.6vh 0 -0.37rem#fff,0.2vw 42.8vh 0 -0.16rem#fff,3.2vw 41.8vh 0 -0.27rem#fff,16.6vw 31.8vh 0 -0.13rem#fff,75.7vw 50.3vh 0 -0.49rem#fff,41.5vw 22.3vh 0 -0.29rem#fff,39.9vw 11.2vh 0 -0.34rem#fff,13.2vw 1vh 0 -0.49rem#fff,89.4vw 1vh 0 -0.48rem#fff,84vw 94.9vh 0 -0.36rem#fff,1.1vw 55.8vh 0 -0.06rem#fff,98.6vw 87.3vh 0 -0.23rem#fff,97.1vw 16vh 0 -0.44rem#fff,79.5vw 37.2vh 0 -0.48rem#fff,64.1vw 38.5vh 0 -0.12rem#fff,89.5vw 18.9vh 0 -0.02rem#fff,65.9vw 95.3vh 0 -0.14rem#fff,56.7vw 74.7vh 0 -0.2rem#fff,46.6vw 35.8vh 0 -0.08rem#fff,12.2vw 15.3vh 0 -0.09rem#fff,9.9vw 21.2vh 0 -0.26rem#fff,23.4vw 44.1vh 0 -0.07rem#fff,40.3vw 75.8vh 0 -0.46rem#fff,66.9vw 83.1vh 0 -0.49rem#fff,80vw 53.1vh 0 -0.37rem#fff,68.8vw 69.4vh 0 -0.27rem#fff,31.2vw 72vh 0 -0.18rem#fff,79.2vw 76.5vh 0 -0.12rem#fff,60.2vw 14.8vh 0 -0.06rem#fff,96.3vw 34.3vh 0 -0.41rem#fff,92.7vw 94.9vh 0 -0.42rem#fff,56.1vw 59.8vh 0 -0.36rem#fff,74.7vw 15vh 0 -0.35rem#fff,92.8vw 34.8vh 0 -0.38rem#fff,16.5vw 36.2vh 0 -0.08rem#fff,36.2vw 44vh 0 -0.17rem#fff,87.8vw 83.6vh 0 -0.1rem#fff,65.4vw 99.3vh 0 -0.4rem#fff,45vw 54.8vh 0 -0.49rem#fff,37.9vw 82vh 0 -0.17rem#fff,48.8vw 91vh 0 -0.36rem#fff,23.6vw 6.8vh 0 -0.18rem#fff,96.4vw 85.7vh 0 -0.32rem#fff,22.9vw 56.4vh 0 -0.07rem#fff,64.9vw 21.1vh 0 -0.21rem#fff,5.1vw 50.9vh 0 -0.5rem#fff,46vw 59.5vh 0 -0.04rem#fff,39.8vw 38.8vh 0 -0.13rem#fff,28.6vw 11.8vh 0 -0.01rem#fff,23.8vw 73.2vh 0 -0.12rem#fff,75.1vw 34.2vh 0 -0.06rem#fff,91.5vw 52.1vh 0 -0.42rem#fff,25.3vw 56.5vh 0 -0.02rem#fff,6.8vw 39.4vh 0 -0.33rem#fff,29.4vw 30.2vh 0 -0.44rem#fff,32.4vw 78.8vh 0 -0.3rem#fff,64.5vw 64vh 0 -0.1rem#fff,96vw 72.5vh 0 -0.08rem#fff,48vw 75.2vh 0 -0.35rem#fff,22.3vw 75.7vh 0 -0.35rem#fff,46vw 51.2vh 0 -0.03rem#fff,98.9vw 91.3vh 0 -0.47rem#fff,36.9vw 23vh 0 -0.26rem#fff,10.5vw 12.1vh 0 -0.07rem#fff,93.2vw 58.9vh 0 -0.46rem#fff,55.4vw 86.4vh 0 -0.06rem#fff,94.6vw 90.2vh 0 -0.4rem#fff,9.7vw 24.2vh 0 -0.26rem#fff,45.3vw 58.5vh 0 -0.4rem#fff,56.8vw 100vh 0 -0.48rem#fff,78vw 70vh 0 -0.09rem#fff,74.6vw 9.2vh 0 -0.01rem#fff,36.8vw 3.8vh 0 -0.38rem#fff,87.9vw 15vh 0 -0.5rem#fff,5.9vw 4.5vh 0 -0.42rem#fff,30vw 31.6vh 0 -0.14rem#fff,59vw 64vh 0 -0.03rem#fff,69.8vw 47.8vh 0 -0.4rem#fff,16.7vw 92.8vh 0 -0.25rem#fff,75.6vw 7.7vh 0 -0.12rem#fff,4.2vw 82.2vh 0 -0.21rem#fff,20.1vw 66.8vh 0 -0.4rem#fff,16.2vw 28vh 0 -0.25rem#fff,6.2vw 66.4vh 0 -0.46rem#fff,49.6vw 99.1vh 0 -0.07rem#fff,40.6vw 33.4vh 0 -0.15rem#fff,39.7vw 90.7vh 0 -0.09rem#fff,18.3vw 91.9vh 0 -0.41rem#fff,25.3vw 47.3vh 0 -0.37rem#fff,77.1vw 93.4vh 0 -0.22rem#fff,52.5vw 58.3vh 0 -0.09rem#fff,79.1vw 84.8vh 0 -0.22rem#fff,78.9vw 78.6vh 0 -0.19rem#fff,81.4vw 53.1vh 0 -0.44rem#fff,83.8vw 83vh 0 -0.13rem#fff,5.2vw 39.1vh 0 -0.25rem#fff,2.4vw 85.5vh 0 -0.39rem#fff,2vw 17.5vh 0 -0.21rem#fff,75.7vw 47.6vh 0 -0.32rem#fff,76.3vw 54vh 0 -0.25rem#fff,6.1vw 74.8vh 0 -0.32rem#fff,10.3vw 2.2vh 0 -0.29rem#fff,50.9vw 3.8vh 0 -0.13rem#fff,9.1vw 39vh 0 -0.28rem#fff,42vw 24.9vh 0 -0.1rem#fff,38.5vw 51.4vh 0 -0.16rem#fff,44.6vw 71.8vh 0 -0.01rem#fff,2.4vw 28.7vh 0 -0.46rem#fff,90.4vw 79vh 0 -0.44rem#fff,44.2vw 75.4vh 0 -0.26rem#fff,39.7vw 9.2vh 0 -0.2rem#fff,63.5vw 28.1vh 0 -0.15rem#fff,9.5vw 26.9vh 0 -0.33rem#fff,73.9vw 3vh 0 -0.41rem#fff,14.3vw 99.3vh 0 -0.06rem#fff,44.3vw 38.4vh 0 -0.19rem#fff,99.8vw 98.2vh 0 -0.21rem#fff,77.3vw 7.1vh 0 -0.04rem#fff,98.5vw 18.7vh 0 -0.06rem#fff,54.1vw 79.8vh 0 -0.03rem#fff,86.3vw 22.6vh 0 -0.45rem#fff,1.8vw 22.8vh 0 -0.21rem#fff,24vw 13.2vh 0 -0.03rem#fff,18vw 56.1vh 0 -0.22rem#fff,36.9vw 70.2vh 0 -0.13rem#fff,77.9vw 95.6vh 0 -0.45rem#fff,33.5vw 8.4vh 0 -0.2rem#fff,18.3vw 58.5vh 0 -0.45rem#fff,8.6vw 29.6vh 0 -0.5rem#fff,44.4vw 75.6vh 0 -0.48rem#fff,77vw 76.5vh 0 -0.29rem#fff,89.3vw 62.3vh 0 -0.07rem#fff,18.6vw 61.3vh 0 -0.23rem#fff,86.9vw 42.4vh 0 -0.42rem#fff,52.9vw 36.9vh 0 -0.46rem#fff,76.6vw 17.1vh 0 -0.29rem#fff,43.4vw 44.1vh 0 -0.23rem#fff,23.9vw 55.6vh 0 -0.06rem#fff,90.8vw 44vh 0 -0.35rem#fff,38.4vw 0.9vh 0 -0.19rem#fff,26.5vw 98.1vh 0 -0.27rem#fff;
	 animation-duration: 16s;
}
 .layer2.a {
	 animation-delay: -5.3333s;
}
.layer2.a {
	animation-delay: -10.6666s;
}
 .layer3 {
	 width: 0.8rem;
	 height: 0.8rem;
	 filter: blur(6px);
	 box-shadow: 77.6vw 57.1vh 0 -0.41rem#fff,33vw 16.1vh 0 -0.46rem#fff,41.4vw 77.1vh 0 -0.25rem#fff,62.4vw 37.9vh 0 -0.47rem#fff,55.5vw 83.7vh 0 -0.16rem#fff,92.1vw 88.3vh 0 -0.3rem#fff,72.4vw 97.3vh 0 -0.34rem#fff,42.1vw 18.7vh 0 -0.15rem#fff,4.9vw 19.4vh 0 -0.22rem#fff,84.5vw 17.2vh 0 -0.13rem#fff,55.7vw 62.8vh 0 -0.46rem#fff,76.3vw 72.3vh 0 -0.35rem#fff,50.5vw 33.5vh 0 -0.2rem#fff,93.5vw 26.2vh 0 -0.27rem#fff,43.6vw 48.8vh 0 -0.41rem#fff,10.3vw 64.6vh 0 -0.47rem#fff,10.4vw 72.2vh 0 -0.43rem#fff,6.3vw 66vh 0 -0.12rem#fff,83.2vw 96.4vh 0 -0.16rem#fff,12.2vw 55.6vh 0 -0.02rem#fff,15.1vw 69.5vh 0 -0.47rem#fff,7.6vw 8.9vh 0 -0.08rem#fff,39.8vw 64.7vh 0 -0.25rem#fff,12.9vw 86.6vh 0 -0.34rem#fff,20.6vw 13.6vh 0 -0.15rem#fff,16.3vw 76.9vh 0 -0.08rem#fff,7.7vw 74.2vh 0 -0.43rem#fff,28.3vw 20.6vh 0 -0.43rem#fff,76.9vw 52.3vh 0 -0.04rem#fff,47.3vw 17.4vh 0 -0.04rem#fff,95.3vw 31.4vh 0 -0.05rem#fff,28.7vw 28.4vh 0 -0.13rem#fff,25.8vw 14.5vh 0 -0.2rem#fff,83.7vw 7.7vh 0 -0.18rem#fff,40vw 98.2vh 0 -0.4rem#fff,42.7vw 2.5vh 0 -0.16rem#fff,97.9vw 37.7vh 0 -0.44rem#fff,20.1vw 35.4vh 0 -0.02rem#fff,51.1vw 46.3vh 0 -0.24rem#fff,5.6vw 99.9vh 0 -0.35rem#fff,37.1vw 64.4vh 0 -0.16rem#fff,29.4vw 56.7vh 0 -0.19rem#fff,11.6vw 48.7vh 0 -0.37rem#fff,96.4vw 30vh 0 -0.09rem#fff,34.7vw 26.9vh 0 -0.02rem#fff,23vw 68.4vh 0 -0.36rem#fff,71.1vw 90.8vh 0 -0.04rem#fff,32.2vw 65vh 0 -0.09rem#fff,95.5vw 56.2vh 0 -0.34rem#fff,27.8vw 56.2vh 0 -0.35rem#fff,17.6vw 20.5vh 0 -0.39rem#fff,43.8vw 87.4vh 0 -0.48rem#fff,32.6vw 18.5vh 0 -0.1rem#fff,15.9vw 59.3vh 0 -0.44rem#fff,49.8vw 66.2vh 0 -0.29rem#fff,77.8vw 96.1vh 0 -0.23rem#fff,26.6vw 21.7vh 0 -0.37rem#fff,68vw 5.8vh 0 -0.37rem#fff,29.9vw 43.3vh 0 -0.23rem#fff,27.9vw 65.1vh 0 -0.42rem#fff,40.2vw 82.8vh 0 -0.44rem#fff,4vw 45.5vh 0 -0.19rem#fff,49.2vw 85.8vh 0 -0.03rem#fff,59.1vw 22.2vh 0 -0.39rem#fff,70vw 60.7vh 0 -0.44rem#fff,38.7vw 28.8vh 0 -0.02rem#fff,72.8vw 7.2vh 0 -0.47rem#fff,45.3vw 26.6vh 0 -0.1rem#fff,8.4vw 11.6vh 0 -0.33rem#fff,88.5vw 34.6vh 0 -0.31rem#fff,78.7vw 79.1vh 0 -0.3rem#fff,7.8vw 6.5vh 0 -0.44rem#fff,14.3vw 87.6vh 0 -0.23rem#fff,6.6vw 38vh 0 -0.42rem#fff,68.9vw 54.5vh 0 -0.13rem#fff,27.9vw 81.2vh 0 -0.29rem#fff,13vw 38vh 0 -0.2rem#fff,3.4vw 82.1vh 0 -0.12rem#fff,23.8vw 10.1vh 0 -0.41rem#fff,69.7vw 57vh 0 -0.11rem#fff,6.8vw 73.2vh 0 -0.44rem#fff,81.2vw 61vh 0 -0.23rem#fff,36vw 13.6vh 0 -0.11rem#fff,66.4vw 46.2vh 0 -0.18rem#fff,52.4vw 60.4vh 0 -0.2rem#fff,8.5vw 71.6vh 0 -0.12rem#fff,43.1vw 83.8vh 0 -0.37rem#fff,25.5vw 5.5vh 0 -0.34rem#fff,11.8vw 94.7vh 0 -0.08rem#fff,32.4vw 63vh 0 -0.08rem#fff,87.3vw 17.1vh 0 -0.1rem#fff,13.1vw 60.3vh 0 -0.4rem#fff,91.6vw 99.7vh 0 -0.31rem#fff,5.3vw 85.3vh 0 -0.03rem#fff,78.8vw 19.5vh 0 -0.39rem#fff,97.9vw 45.5vh 0 -0.06rem#fff,4.7vw 63.8vh 0 -0.33rem#fff,84vw 10.3vh 0 -0.01rem#fff,57.7vw 92.1vh 0 -0.47rem#fff,97.4vw 67.8vh 0 -0.31rem#fff,87.3vw 20.5vh 0 -0.2rem#fff,75.5vw 8vh 0 -0.45rem#fff,87.4vw 63.7vh 0 -0.43rem#fff,81.5vw 45.2vh 0 -0.48rem#fff,30.6vw 29.6vh 0 -0.23rem#fff,36.8vw 16.9vh 0 -0.15rem#fff,99.2vw 46.6vh 0 -0.3rem#fff,77.5vw 24.2vh 0 -0.36rem#fff,80.5vw 56.7vh 0 -0.45rem#fff,31.1vw 35.9vh 0 -0.46rem#fff,25.5vw 8.3vh 0 -0.06rem#fff,72.8vw 8.5vh 0 -0.04rem#fff,12.5vw 0.2vh 0 -0.12rem#fff,6.3vw 2.3vh 0 -0.44rem#fff,95.7vw 10vh 0 -0.07rem#fff,85.4vw 5.1vh 0 -0.26rem#fff,95.7vw 66.1vh 0 -0.39rem#fff,80.2vw 79.1vh 0 -0.23rem#fff,53vw 96.7vh 0 -0.28rem#fff,73.7vw 48.4vh 0 -0.32rem#fff,71.4vw 8.4vh 0 -0.18rem#fff,1.8vw 14.5vh 0 -0.23rem#fff,84.8vw 91.2vh 0 -0.17rem#fff,95vw 48.4vh 0 -0.49rem#fff,72.8vw 89.4vh 0 -0.06rem#fff,54.3vw 8.6vh 0 -0.36rem#fff,95vw 96.8vh 0 -0.33rem#fff,31.4vw 47.9vh 0 -0.08rem#fff,55vw 18.8vh 0 -0.45rem#fff,3.2vw 58.7vh 0 -0.41rem#fff,74.5vw 77.6vh 0 -0.46rem#fff,97.2vw 20.6vh 0 -0.07rem#fff,46.7vw 29.3vh 0 -0.44rem#fff,86.6vw 68.4vh 0 -0.02rem#fff,77.7vw 5.6vh 0 -0.18rem#fff,75.2vw 42.1vh 0 -0.06rem#fff,49.6vw 63.6vh 0 -0.17rem#fff,7.1vw 13.4vh 0 -0.45rem#fff,72.1vw 73.6vh 0 -0.31rem#fff,88.2vw 39vh 0 -0.31rem#fff,63.9vw 59.3vh 0 -0.34rem#fff,36vw 71.9vh 0 -0.08rem#fff,80.9vw 87.3vh 0 -0.15rem#fff,15.4vw 25.8vh 0 -0.16rem#fff,63.1vw 52.3vh 0 -0.39rem#fff,40.9vw 67.1vh 0 -0.31rem#fff,35.3vw 62.8vh 0 -0.38rem#fff,66.3vw 61.9vh 0 -0.33rem#fff,49.2vw 37.7vh 0 -0.09rem#fff,56.3vw 17.5vh 0 -0.5rem#fff,89.9vw 69.1vh 0 -0.47rem#fff,11.7vw 27.1vh 0 -0.2rem#fff,94.2vw 82vh 0 -0.43rem#fff,79.9vw 48.8vh 0 -0.05rem#fff,71.3vw 66.2vh 0 -0.39rem#fff,39.4vw 55.7vh 0 -0.47rem#fff,99.2vw 82.8vh 0 -0.32rem#fff,65.2vw 86vh 0 -0.15rem#fff,1.1vw 11.7vh 0 -0.21rem#fff,38.6vw 69.6vh 0 -0.26rem#fff,24.7vw 28.9vh 0 -0.22rem#fff,86.7vw 37.4vh 0 -0.45rem#fff,98.5vw 32.7vh 0 -0.43rem#fff,23.2vw 86.1vh 0 -0.35rem#fff,70.4vw 73.8vh 0 -0.2rem#fff,65.9vw 91.5vh 0 -0.26rem#fff,86.3vw 61.4vh 0 -0.45rem#fff,2.6vw 46.9vh 0 -0.16rem#fff,69vw 94.5vh 0 -0.42rem#fff,71.2vw 42.4vh 0 -0.49rem#fff,14.8vw 28.4vh 0 -0.45rem#fff,78.5vw 79vh 0 -0.39rem#fff,86.1vw 60.7vh 0 -0.44rem#fff,33.5vw 10.4vh 0 -0.11rem#fff,46.4vw 37.9vh 0 -0.1rem#fff,32.4vw 34.4vh 0 -0.36rem#fff,39.5vw 21.5vh 0 -0.19rem#fff,64.4vw 49.3vh 0 -0.45rem#fff,41.8vw 46.1vh 0 -0.42rem#fff,82vw 31.5vh 0 -0.22rem#fff,83vw 94.2vh 0 -0.24rem#fff,50.9vw 93.6vh 0 -0.05rem#fff,46.7vw 37.1vh 0 -0.13rem#fff,81.5vw 7.5vh 0 -0.13rem#fff,93.9vw 46.7vh 0 -0.29rem#fff,50.3vw 13.2vh 0 -0.31rem#fff,48vw 83.5vh 0 -0.12rem#fff,7.4vw 71.9vh 0 -0.17rem#fff,45.3vw 66.2vh 0 -0.32rem#fff,28.5vw 42.8vh 0 -0.49rem#fff,25.9vw 68.3vh 0 -0.48rem#fff,78.7vw 41.5vh 0 -0.03rem#fff,77.2vw 96.2vh 0 -0.48rem#fff,80.3vw 63.8vh 0 -0.09rem#fff,0.3vw 18.2vh 0 -0.22rem#fff,4.4vw 61.5vh 0 -0.17rem#fff,94.1vw 48.3vh 0 -0.25rem#fff,22.1vw 30.9vh 0 -0.38rem#fff,14.3vw 2vh 0 -0.42rem#fff,50.3vw 64.9vh 0 -0.08rem#fff;
	 animation-duration: 20s;
}
 .layer3.a {
	 animation-delay: -6.6666s;
}
.layer3.b {
	animation-delay: -13.3333s;
}
 @keyframes fall {
	 100% {
		 transform: translateY(300vh);
	}
}
